* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --Very-Dark-Magenta: hsl(300, 43%, 22%);
  --Soft-Pink: hsl(333, 80%, 67%);
  --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
  --Light-Grayish-Magenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
}
body {
  font-family: 'League Spartan', sans-serif;
  font-size:15px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.image{
  position: absolute;
  left: -220px;
  top: 0;
  z-index: -1;
  overflow: hidden;
}
.image img{
  max-width: 100%;
}
.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.head h2 {
  color: var(--Very-Dark-Magenta);
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 0;
  max-width: 250px;
}
.head p {
  color: var(--Dark-Grayish-Magenta);
  max-width: 300px;
  line-height: 1.6;
}
.stat {
  display: flex;
  align-items: center;
  background-color: var(--Light-Grayish-Magenta);
  margin-top: 10px;
  border-radius: 6px;
  padding: 5px 25px;
}
.stat:first-child {
  transform: translateX(-20px);
}
.stat:last-child {
  transform: translateX(20px);
}
.stat p {
  color: var(--Very-Dark-Magenta);
  font-weight: 700;
  margin-left: 10px;
}
.container {
  margin: 80px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  gap: 40px;
}
.box {
  background-color: var(--Very-Dark-Magenta);
  padding: 20px;
  border-radius: 10px;
}
.box:first-child {
  transform: translateY(-20px);
}
.box:last-child {
  transform: translateY(20px);
}
.box .info {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.box .info img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.box .text span {
  display: block;
  margin-left: 15px;
  color: var(--White);
}
.box .text span:last-child {
  color: var(--Soft-Pink);
} 
.box q {
  color: var(--White);
  line-height: 1.6;
}
.photo {
  position: absolute;
  right: 10px;
  z-index: -1;
  top: 30px;
  overflow: hidden;
}
.photo img {
  max-width: 100%;
}
/* Media. */
@media (max-width:767px) {
  .content {
    flex-direction: column;
    padding-top: 60px;
    justify-content: center;
  }
}
@media (max-width:767px) {
  .stat {
    display: block;
    text-align: center;
    padding: 10px;
  }
  .stat img {
    margin-top: 10px;
  }
  .stat:first-child,
  .stat:last-child {
    transform:translateX(0);
  }
}
@media (max-width:767px) {
  .container{
    padding-left: 20px;
    padding-right: 20px;
    gap: 0;
    margin: 40px 0;
  }
}
@media (max-width:767px) {
  .photo {
    display: none;
  }
}
